<!--For debugging-->
<!--<p><%= @pv_ac_graph_data %></p>-->
<!--<p><%= @kwh_graph_data %></p>-->
<%= line_chart @pv_ac_graph_data, library: { tooltip: {pointFormat: "Value: {point.y:.0f} W"},
                                             title: { text: 'Today\'s AC Power', x: -20},
                                             subtitle: { text: 'APT Solar Array', x: -20},
                                        yAxis: {
                                            type: 'datetime',
                                            title: { text: 'AC Power (W)'}}
                            }

%>
<%= column_chart @kwh_graph_data, library: {
                                        tooltip: {
                                            pointFormat: "Value: {point.y:.0f} kWh"
                                        },
                                        title:
                                                 { text: 'Daily Electrical Energy Production', x: -20},
                                        subtitle:
                                                 { text: 'APT Solar Array', x: -20},
                                        yAxis:
                                                 { title:
                                                         { text: 'Energy (kWh)'}
                                                 },
                                        xAxis: {
                                            labels: {
                                                rotation: 45,
                                                align: 'left' }
                                         }
                                        }
%>





