<h2>Under Construction.</h2>
<%= link_to 'Manage Inverters', controller: 'inverters' %>
<%= link_to 'Manage PV Data', controller: 'pv_data' %>
<%= link_to 'Manage Environmental Data', controller: 'env_data' %>
