<h2>Under Construction.</h2>
<p><%= link_to 'View Graphs', controller: 'graphs' %></p>
<p><%= link_to 'Manage Inverters', controller: 'inverters' %></p>
<p><%= link_to 'Manage PV Data', controller: 'pv_data' %></p>

